$primary: #19427a;
$secondary: #00d6c6;
$backgroundGrey: #eeeeee;

%button_count {
  background: $secondary;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  margin: 0 1em;
  outline: none;
  padding: 0.25em 0.5em;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: translateY(2px);
  }
}
