@import "../theme/variables";

.codes {
  text-align: center;

  input {
    width: 100px;
  }

  hr {
    color: $primary;
    width: 150px;
  }

  button {
    @extend %button_count;
    width: auto;
  }

  .codes_active {
    display: flex;
    justify-content: center;
    align-content: center;

    p {
      font-weight: 700;
      margin: 0;
    }

    button {
      font-size: 0.75rem;
      background: red;
    }
  }
}
